@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Inter', sans-serif;
}

.logo{
    width: 123px;
    height: 46px;
    margin-top: 21px;
    margin-left: 17px;
}

.logo-img{
    width: 100%;
}

.search{
    display: flex;
    height: 54px;
    width: 343px;
    margin-top: 15.48px;
    margin-left: 17px;
}

.search-input{
    width: 100%;
    background: #F8F9FA;
    border: 1.65434px solid #F8F9FA;
    box-sizing: border-box;
    border-radius: 33.0868px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14.7053px;
    line-height: 18px;
    color: #868E96;
    padding: 18.75px 60.35px 17.29px 17.65px;
}

.search-input:hover{
    border: 1.5px solid #212529;
}

.search-button{
    height: 44.11575698852539px;
    width: 44.11575698852539px;
    background: #FFE9EE;
    background-image: url('../icons/Text\ \(1\).png');
    background-position: center; 
    background-repeat: no-repeat; 
    border-radius: 100%;
    border: none;
    margin-left: -50px;
    margin-top: 5px;
}

.search-button:hover{
    background: #FF2253;
    background-image: url('../icons/Text\ \(2\).png');
    background-position: center; 
    background-repeat: no-repeat; 
}

.category-buttons{
    display: flex;
    margin-top: 16.48px;
    margin-left: 18px;
    overflow-x: scroll;
}

.categorys{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 22px;
}

.categorys:hover{
    border: 1.5px solid #212529;
}

.category-todos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #F8F9FA;
    border: 1.5px solid #FFF7F4;
    box-sizing: border-box;
    border-radius: 30px;
}

.category-panificadora{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #FFF7F4;
    border: 1.5px solid #FFF7F4;
    box-sizing: border-box;
    border-radius: 30px;
}

.category-frutas{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #FFE4EA;
    border: 1.5px solid #FFE4EA;
    box-sizing: border-box;
    border-radius: 30px;
}

.category-bebidas{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #F3EEF5;
    border: 1.5px solid #F3EEF5;
    box-sizing: border-box;
    border-radius: 30px;
}
/*------------------Product List--------------------------------*/

.productsShowcase{
    margin: 0 auto ;
}

.productsShowcase-list{
    display: flex;
    overflow-x: scroll;
    margin: 27px 0 27px 18px;
    max-width: 1200px;
}

.productsShowcase-list-product{
    margin: 0px 23px 28px 0px;
    width: 300px;

}

.productsShowcase-list-product figure{
    position: relative;
}

.productsShowcase-list-product .img-destaque{
    width: 300px;
    height: 200px;
    box-sizing: border-box;
    border: 3px solid #FFE9EE;
    border-radius: 8px;
    cursor: pointer;
}

.productsShowcase-list-product .img-destaque:hover{
    border: 3px solid #FF2253;

}

.productsShowcase .category{
    background-color: #FFE9EE;
    width: 132px;
    height: 30px;
    padding: 6px 18px 6px 18px;
    border-radius: 30px;
    font-size: 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins';
    font-weight: 500;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    bottom: -10px;
    left: 12px;
}

.productsShowcase .category .category-title{
    line-height: 17px;

}

.productsShowcase-list-content .product-title{
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    margin: 27px 0 16px;
}

.productsShowcase-list-content .product-description{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;    font-style: normal;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.5);
    margin: 0 0 16px;
}

.productsShowcase-list-content .product-priceAndCart{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productsShowcase-list-content .product-price{
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 12px;
    line-height: 13px;
    color: #212529;
}

.productsShowcase-list-content .product-cart{
    background-color: #E4F7EF;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productsShowcase-list-content .product-cart img{
    width: 11px;
}

.container{
    box-shadow: 0;
}

/* ------Cart------------------------------------------------------------------------------ */

aside {
    width: 342px;
    height: 499.11px;;
    margin: 0 auto;
}

.retangle {
    display: flex;
    width: 100%;
    height: 59.85px;
    background: #FF2253;
    border-radius: 14.9625px 14.9625px 0px 0px;
}

.cart-logo{
    height: 14.962475776672363px;
    width: 14.962475776672363px;
    margin: 24.58px 0px 20.31px 24.58px;
}

.cart-name {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 17.1px;
    line-height: 28px;
    color: #FFFFFF;
    margin: 18.17px 0px 12.82px 21.38px;
}

.no-products {
    height: 100%;
    background-color: #F8F9FA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-products img {
    width: 56.64px;
    height: 56.64px;
}

.no-products p {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 12.82px;
    color: #868E96;
    height: 73.7436294555664px;
    width: 218.02464294433594px;
    margin: 42.84px 61.99px 0px 60.92px;
    text-align: center;
    white-space: pre-line;
}

.no-products span{
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 17.1px;
    line-height: 28px;
    text-align: center;
    color: #868E96;
}

.no-products .text {
    font-weight: 500;
}

.products-cart .productsShowcase-list-content .product-description, .products-cart figure div img,
.products-cart .product-priceAndCart a{
    display: none;
}
.products-cart{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    padding: 0px;
    max-width: 300px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 40px auto;
}

.products-cart figure {
    width: 70px;
    height: 70px;
}
.products-cart img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.products-cart span {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 16px;
    color: #868E96;
}

.products-cart .productsShowcase-list-content {
    margin-left: 10px;
}

.products-cart .productsShowcase-list-content h2{
    margin: 0;
}

.products-cart .remove-product {
    border-radius: 100%;
    width: 25px;
    height: 25px;
}

.products-cart .remove-product:hover {
    cursor: pointer;
}

.with-products .text, .with-products .shopping-bag {
    display: none;
}


@media only screen and (min-width: 470px){
    .category-buttons{
        overflow-x: hidden;
    }
}
@media only screen and (min-width: 970px){
    main{
        margin: 0 20px ;
        display: flex;
    }
    .productsShowcase{
        /* margin: 0 auto ; */
        margin-left: 56px;
    }
    .productsShowcase-list{
        display: flex;
        flex-wrap: wrap;
        overflow-x: hidden;
        margin: 27px 18px 27px;
        
    }

    .search-area{
        max-width: 1600px;
        margin: 0 auto;
        height: 80px;
        display: flex;
        justify-content: space-between;
        background: #FFFFFF;
        padding: 0 20px;
    }
    .container{
        box-shadow: 0px 0px 40px -20px rgba(0, 0, 0, 0.25);
    }

    .category-buttons{
        overflow-x: hidden;
        max-width: 1600px;
        padding: 0 20px;
    }

    /* aside{
        margin-left: 73px;
    } */

}



@media only screen and (min-width: 1600px){

    main{
        max-width: 1600px;
        margin: 0 auto;
    }
    .productsShowcase{
        margin: 0  ;
        max-width: 1089px;
    }
    .productsShowcase-list{
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    
    }
    .productsShowcase-list-product{
        margin: 0px 43px 80px 0px;

    
    }

    .search{
        margin: 15px 115px 16px 0px;
    }

    .search-area{
        margin-left: 118px;
    }

    .category-buttons{
        margin-left: 117px;
        margin-top: 42px;
        overflow-x: hidden;
        max-width: 1600px;
        /* margin: 42px auto 58px; */

    }

    .productsShowcase{
        margin-left: 118px;
    }

    .productsShowcase-list{
        display: flex;
        overflow-x: scroll;
        margin: 27px 0 27px 18px;
        max-width: 1200px;
    }


}
